{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="card logout" style="border:none;width:100%;height:auto;">
        <div class="card-body">
            <form method="post" name="logout">
                {% csrf_token %}

                <div class="row justify-content-md-center">
                    <div class="col py-2">
                        <h5 class="text-center">
                            Benutzerabmeldung
                        </h5>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-auto py-2">
                        <input type="hidden" name="logout" value="1"/>
                        <button type="submit" class="btn logout">Ausloggen</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}