{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load person_helper %}
{% block title %}{{ ltb.number }} {{ ltb.complete_name }}{% endblock %}
{% block content %}
    <div class="container-fluid pt-3 pb-4">
        <div class="card detail" style="max-width: 100%;">
            <div class="row g-0 p-3">
                <div class="col-auto mx-auto">
                    {% if person.image %}
                        <div class="position-relative">
                            <img class="img-fluid rounded-start" src="{{ person.image.url }}" alt="cover"
                                 style="max-width: 266px;">
                        </div>
                    {% else %}
                        <img class="img-fluid rounded-start" src="{% static 'images/no_portrait.png' %}" alt="cover"
                             style="max-width: 266px;">
                    {% endif %}
                </div>
                <div class="col">
                    <div class="card-body align-items-center d-flex">
                        <ol class="list-group">
                            <li class="list-group-item detail-person">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        {{ person.name }}
                                    </div>
                                    <div class="detail_content">
                                        {% if person.description %}
                                            {{ person.description }}
                                        {% else %}
                                            <em>keine Beschreibung vorhanden</em>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% get_character_stories person as stories %}
                            {% if stories %}
                                <li class="list-group-item detail-person">
                                    <div class="me-auto">
                                        <div class="detail_header">
                                            In Storys
                                        </div>
                                        <div class="detail_content">
                                            {% for story in stories %}
                                                <a href="/story/{{ story.2 }}">
                                                    {{ story.0 }} ({{ story.1 }})
                                                </a>
                                                {% if not forloop.last %}<br/>{% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item detail-person">
                                    <div class="me-auto">
                                        <div class="detail_header">
                                            Bücher mit {{ person.name }}
                                        </div>
                                        <div class="detail_content">
                                            {% get_character_ltbs person as ltbs %}
                                            {% for ltb in ltbs %}
                                                <a href="/ltb/detail/{{ ltb.5 }}">
                                                    {{ ltb.0 }}{{ ltb.1|stringformat:"03d" }}
                                                    -
                                                    {{ ltb.2 }}
                                                    {% if ltb.4 %}
                                                        {{ ltb.4 }}
                                                    {% endif %}
                                                    ({{ ltb.3 }}. Auflage)
                                                </a>
                                                {% if not forloop.last %}<br/>{% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}