{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load story_helper %}
{% block title %}{{ story.title }} {{ story.code }}{% endblock %}
{% block content %}
    <div class="container-fluid pt-3 pb-4">
        <div class="card detail" style="max-width: 100%;">
            <div class="row g-0 p-3">
                <div class="col">
                    <div class="card-body">
                        {% if ltb.is_read %}
                            <div class="ribbon ribbon-top-right"><span></span></div>
                        {% endif %}
                        <ol class="list-group">
                            <li class="list-group-item detail top">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Titel
                                    </div>
                                    <div class="detail_content">
                                        {{ story.title }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Genre
                                    </div>
                                    <div class="detail_content">
                                        {{ story.get_genres }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Autor
                                    </div>
                                    <div class="detail_content">
                                        <a href="{{ story.author.get_real_absolute_url }}">
                                            {{ story.author.name }}
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Zeichner
                                    </div>
                                    <div class="detail_content">
                                        <a href="{{ story.illustrator.get_real_absolute_url }}">
                                            {{ story.illustrator.name }}
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Charaktere
                                    </div>
                                    <div class="detail_content">
                                        {% for character in story.characters.all %}
                                            <a style="z-index:2;position: relative;"
                                               href="{{ character.get_fictional_absolute_url }}">
                                                {{ character.name }}<!--
                                        --></a><!-- Tweak the space between the new line
                                        -->{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Originaltitel
                                    </div>
                                    <div class="detail_content">
                                        {{ story.original_title }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Erstveröffentlichung
                                    </div>
                                    <div class="detail_content">
                                        {{ story.date|date:"d.m.Y" }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Ursprung
                                    </div>
                                    <div class="detail_content">
                                        {{ story.origin }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Seitenanzahl
                                    </div>
                                    <div class="detail_content">
                                        {{ story.pages }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Code
                                    </div>
                                    <div class="detail_content">
                                        {{ story.code }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail bottom">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Bücher
                                    </div>
                                    <div class="detail_content">
                                        {% get_story_ltbs story as ltbs %}
                                        {% for ltb in ltbs %}
                                            <a href="/ltb/detail/{{ ltb.5 }}">
                                                {{ ltb.0 }}{{ ltb.1|stringformat:"03d" }}
                                                -
                                                {{ ltb.2 }}
                                                {% if ltb.4 %}
                                                    {{ ltb.4 }}
                                                {% endif %}
                                                ({{ ltb.3 }}. Auflage)
                                            </a>
                                            {% if not forloop.last %}<br/>{% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}