{% extends "base.html" %}
{% load static %}
{% block title %}{{ book.number }} {{ book.complete_name }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2 class="pt-3">{{ book.type }}</h2>
        <hr>
        <div class="row justify-content-center align-items-center pb-3">
            <div class="col-auto">
                <div class="btn-group btn-group-lg" role="group" aria-label="Book navigation">
                    <button type="button"
                            class="btn navigate"
                            onclick="location.href='{{ book.previous_ltb.get_absolute_url }}'"
                            {% if not book.previous_ltb %}disabled{% endif %}>
                        Vorherige Nummer
                    </button>
                    <button type="button"
                            class="btn navigate"
                            onclick="location.href='{{ book.next_ltb.get_absolute_url }}'"
                            {% if not book.next_ltb %}disabled{% endif %}>
                        Nächste Nummer
                    </button>
                </div>
            </div>
        </div>

        <div class="card detail" style="max-width: 100%;">
            <div class="row g-0 p-3">
                <div class="col-auto mx-auto">
                    {% if book.image %}
                        <div class="position-relative">
                            <img class="img-fluid rounded-start" src="{{ book.image.url }}" alt="cover"
                                 style="max-width: 266px;">
                            {% if book.inventory_count > 0 %}
                                <a href="#"> {# TODO: link zu den Büchern #}
                                    <span class="inventory {% if book.have_first_edition %}first_edition{% endif %}">
                                    {{ book.inventory_count }}
                                </span>
                                </a>
                            {% endif %}
                        </div>
                    {% else %}
                        <img class="img-fluid rounded-start" src="{% static 'images/not_found.png' %}" alt="cover"
                             style="max-width: 266px;">
                    {% endif %}
                </div>
                <div class="col">
                    <div class="card-body">
                        <ol class="list-group">
                            <li class="list-group-item detail top">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Nummer
                                    </div>
                                    <div class="detail_content">
                                        {{ book.number }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Titel
                                    </div>
                                    <div class="detail_content">
                                        {{ book.complete_name }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Erscheinungsdatum
                                    </div>
                                    <div class="detail_content">
                                        {{ book.release_date|date:"d.m.Y" }}
                                    </div>
                                </div>
                            </li>
                            {% if book.ltb_versions_count > 1 %}
                                <li class="list-group-item detail">
                                    <div class="me-auto">
                                        <div class="detail_header">
                                            Editionen
                                        </div>
                                        <div class="detail_content">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Book editions">
                                                {% for edition in book.all_ltb_versions %}
                                                    <button type="button"
                                                            class="btn navigate"
                                                            onclick="location.href='{{ edition.get_absolute_url }}'"
                                                            {% if edition == book %}disabled{% endif %}>
                                                        {{ edition.name }}
                                                    </button>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if book.ltb_editions_count > 1 %}
                                <li class="list-group-item detail">
                                    <div class="me-auto">
                                        <div class="detail_header">
                                            Auflagen
                                        </div>
                                        <div class="detail_content">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Book editions">
                                                {% for edition in book.all_ltb_editions %}
                                                    <button type="button"
                                                            class="btn navigate"
                                                            onclick="location.href='{{ edition.get_absolute_url }}'"
                                                            {% if edition == book %}disabled{% endif %}>
                                                        {{ edition.edition }}
                                                    </button>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="list-group-item detail">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Geschichtsanzahl
                                    </div>
                                    <div class="detail_content">
                                        {{ book.stories }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item detail bottom">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        Seitenanzahl
                                    </div>
                                    <div class="detail_content">
                                        {{ book.pages }}
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}