{% load widget_tweaks %}
<div class="container container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto py-2">
            <a class="btn filter"
               data-bs-toggle="collapse"
               href="#collapseFilter"
               role="button"
               aria-expanded="false"
               aria-controls="collapseFilter">
                Zeige Filter
            </a>
        </div>
    </div>
    <div class="collapse multi-collapse" id="collapseFilter">
        <form method="get">
            {% csrf_token %}

            {{ filter.form.non_field_errors }}

            {% for hidden_field in filter.form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            <div class="row justify-content-center align-items-center">
                {% for field in filter.form.visible_fields %}
                    <div class="col-auto py-2">
                        <div class="input-group">
                            <div class="input-group-text filter">{{ field.label }}</div>
                            {{ field.errors }}
                            {{ field|add_class:'form-control filter' }}
                            {{ field.help_text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-auto py-2">
                    <button type="submit" class="btn filter">Filter</button>
                </div>
            </div>
        </form>
    </div>

</div>