{% load static %}
{% load story_helper %}

<ol class="list-group pb-3">
    <li class="list-group-item detail top bottom">
        <span class="page">
{#        {{ story.ltb_story_rel.page }}#}
            {% get_story_page story ltb %}
    </span>
        <div class="me-auto">
            Titel: {{ story.title }}
            <br/>
            Genre: {{ story.get_genres }}
            <br/>
            Code: {{ story.code }}
            <br/>
            Charaktere:
                {% for character in story.characters.all %}
                    <a style="z-index:2;position: relative;" href="{{ character.get_fictional_absolute_url }}">
                        {{ character.name }}<!--
                --></a><!-- Tweak the space between the new line
                -->{% if not forloop.last %},{% endif %}

                {% endfor %}
            <a href="{{ story.get_absolute_url }}" class="stretched-link"></a>
        </div>
    </li>
</ol>



