{% extends "base.html" %}
{% load static %}
{% block title %}{{ book.number }} {{ book.complete_name }}{% endblock %}
{% block content %}
    <div class="container-fluid h-100 py-3">
        <div class="row">
            <div class="col d-flex align-items-stretch pb-3">
                <div class="card index h-100 text-dark" style="border:none;width:100%;height:100%;">
                    <div class="card-body">
                        {% if request.user.is_authenticated %}
                            {% include "homepage/news.html" %}
                            {% include "homepage/logout.html" %}
                            {#                            <a href="{% url "logout" %}">Logout</a>#}
                        {% else %}
                            {% include "homepage/login.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% include "homepage/overview.html" %}
        </div>
    </div>
{% endblock %}