{% load static %}
{% block content %}
    {% for news in news_data %}
        <div class="row">
            <div class="col pb-3">
                <div class="card news" style="border:none;width:100%;height:auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.date }}</h5>
                        {{ news.title }}
                        <a href="{{ news.link }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}