{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load person_helper %}
{% block title %}{{ ltb.number }} {{ ltb.complete_name }}{% endblock %}
{% block content %}
    <div class="container-fluid pt-3 pb-4">
        <div class="card detail" style="max-width: 100%;">
            <div class="row g-0 p-3">
                <div class="col">
                    <div class="card-body align-items-center d-flex">
                        <ol class="list-group">
                            <li class="list-group-item detail-person">
                                <div class="me-auto">
                                    <div class="detail_header">
                                        {{ person.name }}
                                    </div>
                                    <div class="detail_content">
                                        {% if person.description %}
                                            {{ person.description }}
                                        {% else %}
                                            <em>keine Beschreibung vorhanden</em>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% get_author_stories person as author_stories %}
                            {% if author_stories %}
                                <li class="list-group-item detail-person">
                                    <div class="me-auto">
                                        <div class="detail_header">
                                            Autor von
                                        </div>
                                        <div class="detail_content">
                                            {% for story in author_stories %}
                                                <a href="/story/{{ story.2 }}">
                                                    {{ story.0 }} ({{ story.1 }})
                                                </a>
                                                {% if not forloop.last %}<br/>{% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                            {% get_illustrator_stories person as illustrator_stories %}
                            {% if illustrator_stories %}
                                <li class="list-group-item detail-person">
                                    <div class="me-auto">
                                        <div class="detail_header">
                                            Zeichner von
                                        </div>
                                        <div class="detail_content">
                                            {% for story in illustrator_stories %}
                                                <a href="/story/{{ story.2 }}">
                                                    {{ story.0 }} ({{ story.1 }})
                                                </a>
                                                {% if not forloop.last %}<br/>{% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}