{% extends "base.html" %}
{% load static %}
{% block title %}LTB List{% endblock %}
{% block content %}
    <div class="container-fluid py-3">
        <h2>Bücherliste</h2>
        <hr>
        <br>
        {% include "stock/filter.html" %}
        <br>
        <div class="row justify-content-center align-items-center">
            {% for quant in quants %}
                <div class="col-auto pb-4">
                    <div class="card h-100 bg-yellow text-dark" style="border:none;max-width:150px;height:auto;">
                        <div class="position-relative">
                            <img src="
                                {% if quant.book.image %}
                                    {{ quant.book.image.url }}
                                {% else %}
                                    {% static 'images/not_found.png' %}
                                {% endif %}"
                                 class="card-img-top" alt="{{ book.number }}">
                        </div>
                        <div class="card-body">
                            <p class="card-title">
                                {{ quant.book.number }}
                            </p>
                            <p class="card-text text-muted" style="font-size:12px">
                                {{ quant.book.edition }}
                            </p>
{#                            <a href="{{ book.get_absolute_url }}" class="stretched-link"></a>#}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-auto pb-4 ">
                    Keine Bücher vorhanden
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "pagination.html" with page=quants %}
    </div>

{% endblock %}