{% extends "base.html" %}
{% load static %}
{% block title %}LTB List{% endblock %}
{% block content %}
    <div class="container-fluid py-3">
        <h2>Bücherliste</h2>
        <hr>
        <br>
        {% include "stock/filter.html" %}
        <br>
        <div class="row justify-content-center align-items-center">
            {% for quant in quant_list %}
                <div class="col-auto pb-4">
                    {% include "stock/book.html" %}
                </div>
            {% empty %}
                <div class="col-auto pb-4 ">
                    Keine Bücher vorhanden
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        {% include "pagination.html" with page=quants %}
    {% endif %}
{% endblock %}